:root{
    --colorBaseLight: #ffffff;
    --colorBaseNubank: #820ad1;
    --colorText: #000000;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--colorBaseLight);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.container-header{
    width: 98%;
    background-color: var(--colorBaseLight);
    padding-left: 2%;
    height: 60px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;    
    display: flex;
    align-items: center;
    position: sticky;
    top:0; left:0;
}
.container-options-navbar{
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
}
.ul-options{
    width: 30%; height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.item-options{
    color: var(--colorText);
    font-weight: bold;
}
.container-login{
    width: 65%; height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: var(--colorBaseNubank);
}
.icon-login{
    color: var(--colorBaseNubank);
}
.container-apresetation{
    width: 100%; 
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://nubank.com.br/images-cms/1668630922-home_bolao_desk.jpg?w=1152&dpr=1&auto=compress&fm=webp");
}
.header-title{
    width: 100%;
}
.header-title span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.decorator-describle{
    width: auto; height: 180px;
    margin-left: 15px;
    display: flex; flex-direction:column;
    justify-content: flex-end;
}
.container-risco{
    width: 100%; height: 40px;
}
.container-describle{
    width: 100%; 
    display: flex;
    flex-direction: row; align-items: center;
    justify-content: space-between;
}
.container-describle-world-cup{
    margin-left: 50px;
    width: 30%; height: 300px;
    color: var(--colorBaseLight);
    display: flex; justify-content: center;
    align-items: center;
}

.container-describle-world-cup h3{
    font-size: 2rem;
    text-align: start;
}
.container-register{
    margin-right: 50px;
    padding: 15px;
    width: 300px; height: 330px;
    background-color: var(--colorBaseLight);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.container-register h3{
    font-size: 1.6rem;
    text-align: start;
}
.input-cpf{
    width: 90%; height: 40px;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0;
    border-bottom: 1px;
    border-style: dotted
}
.input-send-data{
    width: 90%; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--colorBaseNubank);
    color: var(--colorBaseLight);
    font-weight: bold;
    border-radius: 15px;
    border: 0;
}
.footer-describle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}